* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  box-sizing: border-box;
}
.grid {
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
}
.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #000;
  gap: 30px;
}
.header-title {
  color: blue;
  font-size: 26px;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.body-content {
  font-size: 14px;
}
.body-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}
.text-bold {
  font-weight: bold;
  font-size: 14px;
}
.body-info-details {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
